.sort-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .sort-bar select {
    padding: 0.4rem;
    background: #1d1f29;
    color: #fff;
    border-radius: 8px;
    border: none;
  }
  